<h1>Laquering Module</h1>
<div class="container">
  <div class="boxes">
    <img src="{{imageSrc}}" >
    <a (click)="onClickCheckColor('red')"><div class="box red"></div></a>
    <a (click)="onClickCheckColor('blue')"><div class="box blue"></div></a>
    <a (click)="onClickCheckColor('yellow')"><div class="box yellow"></div></a>
    <a (click)="onClickCheckColor('green')"><div class="box green"></div></a>
    <a (click)="onClickCheckColor('blue')"><div class="box blue"></div></a>
  </div>
  <p class="error-message">{{err}}</p>
</div>

